.post-title{
  text-align: center;
  margin: solid blue 3px;
  background-color: antiquewhite;

}

.post-new{
  text-align: center;
  margin: solid blue 3px;
  margin-bottom: 50px;
  background-color: lightcoral;

}